body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url(Gradient\ \(2400x1350\).jpg);
    
}
h1,p,h2,h4{
    color: aliceblue;
}
.note{
    color: aliceblue;
}

.container {
    margin-top: 200px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
